In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Create a path to the csv and read it into a Pandas DataFrame
csv_path = "../Resources/cities.csv"
cities_df = pd.read_csv(csv_path)

cities_df.head()

,City,Country,Latitude,Longitude,Max_temp_F,Humidity_Percent,Cloudy_Percent,Wind_Speed_mph,Date
0,Mataura,New Zealand,-46.19,168.86,50.94,70,39,3.29,12/15/2020
1,Whitehorse,Canada,60.72,-135.05,6.80,84,90,2.24,12/15/2020
2,Hualmay,Peru,-11.10,-77.61,73.31,67,43,10.40,12/15/2020
3,Birjand,Iran,32.87,59.22,30.20,63,0,6.93,12/15/2020
4,Albany,United States,42.60,-73.97,33.01,36,9,1.99,12/15/2020

In [3]:
# Converting df to html and saving html for use later

cities_df.to_html('../Support_code/cities_df_html.html', index=False)